<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)">
  <xacro:arg name="robot_name" default="fr3_robotiq" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="safety_distance" default="0.03" />
  <xacro:arg name="wrist_camera" default="true" />
  <xacro:arg name="flip_gripper" default="true" />

  <xacro:include filename="../urdf/fr3_robotiq_2f_85.urdf.xacro" />

  <xacro:fr3_robotiq_2f_85
    prefix="$(arg prefix)"
    safety_distance="$(arg safety_distance)"
    wrist_camera="$(arg wrist_camera)"
    flip_gripper="$(arg flip_gripper)" />
</robot>